build/*
docs/build
.idea/*
.ropeproject/*
quantlib.egg-info/*
QuantLib.dll
quantlib-deps/
symbol_win*.def
*.cpp
*.so
*.h
*.pyc
*.swp

# junk #
########

*.*~
*.*#
*.ipynb_checkpoints

# Template-generated yield curve files
lifelib_pyql/termstructures/yields/discount_curve.pxd
lifelib_pyql/termstructures/yields/discount_curve.pyx
lifelib_pyql/termstructures/yields/forward_curve.pxd
lifelib_pyql/termstructures/yields/forward_curve.pyx
lifelib_pyql/termstructures/yields/piecewise_yield_curve.pxd
lifelib_pyql/termstructures/yields/piecewise_yield_curve.pyx
lifelib_pyql/termstructures/yields/zero_curve.pxd
lifelib_pyql/termstructures/yields/zero_curve.pyx
